.logo {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;

    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.website-name {
    transition: transform 0.3s ease;
}

.website-name:hover{
    transform: scale(1.1);
}

.bg-body-tertiary {
    margin-left: 20px !important;
}

#dropdown-profile-btn {
    margin-right: 20px;
    background-color: aliceblue;
    border: none;
    transition: transform 0.3s ease;
}

#dropdown-profile-btn:hover {
    transform: scale(1.1);
}

#dropdown-profile-btn::after {
    display: none;
}